---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers
CheckOptions:
  readability-braces-around-statements.ShortStatementLines: 2
  readability-function-cognitive-complexity.IgnoreMacros: true
